.portfolio-component {
    background: #1a1a1a;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    border: 1px solid #3d3d3d;

}

.portfolio-component-header-container {
	display: flex;
    justify-content: space-between;
    align-items: center;
}

p{
  margin:0;
}

.portfolio-component-header {
	font-size: 22px;
    line-height: 1;
    font-weight: 600;
    color: #d8d8d8;
}

.portfolio-component-more-header {
  color: #d8d8d8;
  text-decoration: underline;
  transition: .5s;
}

.portfolio-component-more-header:hover {
   color: #919191;
   transition: .5s;
}

.portfolio-component-balance-container {
  display: flex;
  padding-top: 27px;
}

.portfolio-component-balance {
	font-size: 36px;
    line-height: 1;
    font-weight: 600;
    color: #d8d8d8;
}

.portfolio-component-balance-tag {
  font-size: 16px;
    line-height: 1;
    font-weight: 600;
    color: #3d3d3d;
    padding-left: 4px;
    padding-top: 4px;
}

.portfolio-component-balance-amount {
	font-size: 16px;
    line-height: 1;
    font-weight: 600;
    color: #3d3d3d;
    padding-left: 4px;
    padding-top: 4px;
}

.portfolio-component-button-container {
	display: flex;
	width: 116px;
	padding-top: 20px;
	justify-content: space-between;
}

.portfolio-component-button {
display: flex;
    align-items: center;
    grid-gap: 6px;
    gap: 6px;
    font-size: 13px;
    line-height: 1.1;
    font-weight: 600;
    color: #d8d8d8;
    background:none;
    padding: 0 12px;
    height: 32px;
    border-radius: 6px;
    cursor: pointer;
    transition: all .2s ease;
    text-decoration: none;
    transition: .5s;
    border: 1px solid #3d3d3d ;
}

.portfolio-component-button:hover {
	background:#212121 ;
}

.home-header-description-container {
  padding-top: 40px;
}

.portfolio-component-graph-container {
padding-top: 40px;
}

.portfolio-component-divider-container {
 padding-top: 12px;
 padding-bottom: 10px;
}

.portfolio-component-divider {
border: 1px solid #3d3d3d;
width: 100%;
}

.portfolio-component-asset-box {
display: flex;
    align-items: left;
    grid-gap: 6px;
    gap: 6px;
    font-size: 13px;
    line-height: 1.1;
    font-weight: 600;
    color: #d8d8d8;
    background:none;
    padding: 8px;
    border-radius: 6px;
    transition: all .2s ease;
    text-decoration: none;
    transition: .5s;
    border: 1px solid #3d3d3d ;
    flex-direction: column;
    
}

.portfolio-component-asset-header-container {
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: center;
}

.portfolio-component-assets-container {
	padding-top: 20px;
	    width: 100%;
    display: grid;
    grid-gap: 14px;
    gap: 14px;
    grid-template-columns: repeat(2,1fr);
}

.portfolio-component-asset-header {
  font-size:14px ;
  padding-right: 6px;
  align-items: center
}

.portfolio-component-more-container {
  display: flex;
    align-items: center;
    gap: 8px;
    padding: 2px 6px 2px 4px;
    border-radius: 6px;
    background: #212121;
    font-size: 12px;
    line-height: 1;
    font-weight: 500;
    color: #d8d8d8;
    cursor: pointer;
}

.portfolio-component-more-container:hover {
}

.portfolio-component-more-image {
  width: auto;
  height: 18px;
}

.portfolio-component-more-divider {
height: 8px;
border: 1px solid #3d3d3d;
}

.portfolio-component-asset-balance-container {
 display: flex;
 flex-direction: row;
 justify-content: space-between;
}

.portfolio-component-asset-balance {
	padding-top: 10px;
	    font-size: 22px;
	    padding-bottom:5px;

}

.portfolio-component-assets-total-container {
	padding-top: 24px;
	display: flex;
	flex-direction: row;
}

.portfolio-component-assets-total {
    font-size: 36px;
    line-height: 1;
    font-weight: 600;
    color: #d8d8d8;
}

.portfolio-component-asset-percentage-box {
	    display: flex;
	    grid-gap: 2px;
    font-size: 13px;
    line-height: 1.1;
    color: rgb(70, 70, 70);
    background: none;
    padding: 3px;
    border-radius: 6px;
    transition: all .2s ease;
    text-decoration: none;
    transition: .5s;
    border: 1px solid #3d3d3d;
    flex-direction: row;
    align-items: center;
}

.portfolio-component-tokens-container {
	    display: flex;
    align-items: left;
    grid-gap: 6px;
    grid-gap: 6px;
    gap: 6px;
    font-size: 13px;
    line-height: 1.1;
    font-weight: 600;
    color: #d8d8d8;
    background: none;
    padding: 8px;
    border-radius: 6px;
    transition: all .2s ease;
    text-decoration: none;
    transition: .5s;
    border: 1px solid #3d3d3d;
    flex-direction: column;
    height: 166px;
}

.portfolio-component-tokens-grid {
	display: grid;

}

.portfolio-component-tokens-option {
	    display: flex;
    align-items: left;
    grid-gap: 6px;
    grid-gap: 6px;
    gap: 6px;
    font-size: 13px;
    line-height: 1.1;
    font-weight: 600;
    color: #d8d8d8;
    padding: 8px;
    border-radius: 6px;
    transition: all .2s ease;
    text-decoration: none;
    border: 1px solid #3d3d3d;
    transition: .5s;
    flex-direction: column;
    justify-content: space-between;
}

.portfolio-component-tokens-option:hover {
  background:#212121 ;
}

.portfolio-component-tokens-options-container {
    width: 100%;
    display: grid;
    grid-gap: 14px;
    grid-gap: 14px;
    gap: 14px;
    grid-template-columns: repeat(1,1fr);
}

.portfolio-component-tokens-option-description {
font-size: 12px;
    line-height: 1;
    font-weight: 600;
    color: #3d3d3d;
    padding-top: 4px;
}

.portfolio-component-tokens-option-header-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

.portfolio-component-asset-percentage {
    font-size: 13px;
    line-height: 1;
    font-weight: 500;
    color: #d8d8d8;
}

.portfolio-component-asset-currency {
	padding-top: 20px;
}

.portfolio-component-graph-balance-container {
	padding-top: 14px; 
}

.portfolio-component-graph-balance-box {
    display: flex;
    align-items: left;
    grid-gap: 6px;
    grid-gap: 6px;
    grid-gap: 6px;
    gap: 6px;
    font-size: 13px;
    line-height: 1.1;
    font-weight: 600;
    color: #d8d8d8;
    background: none;
    padding: 8px;
    border-radius: 6px;
    transition: all .2s ease;
    text-decoration: none;
    transition: .5s;
    border: 1px solid #3d3d3d;
    flex-direction: column;
}

.portfolio-component-balance-tag-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.portfolio-component-status {
	width: 7px;
    height: 7px;
    border-radius: 50%;
    background: rgba(26,161,104,.15);
    border: 1.2px solid rgba(26,161,104,.15);
    animation: blinker 2s infinite;
    transition: .5s;
}

.portfolio-component-status-box {
	display: flex;
    align-items: center;
    grid-gap: 2px;
    padding: 4px 4px 4px 4px;
    border-radius: 6px;
    border: 1px solid #3d3d3d;
    font-size: 15px;
    line-height: 1;
    font-weight: 500;
    color: rgb(70, 70, 70);
}
