.Home {
text-align: left;
}

.home-header {
    color: #d8d8d8;
    font-size: 24px;
}

.home-description {
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    margin-top: 4px;
    color: #3d3d3d;
}

.Top-container {
display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 16px;
    margin-top: 30px;
}

.Middle-container {
display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 16px;
    margin-top: 30px;
}

.Bottom-container {

}
