.Home {
text-align: left;
}

.home-header {
    color: #d8d8d8;
    font-size: 24px;
}

.home-description {
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    margin-top: 4px;
    color: #3d3d3d;
}

.Top-container {
display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 16px;
    margin-top: 30px;
}

.Top-component-wrapper {
	display: flex;
	width: 100%;
}

.home-wallet-prompt {
  padding-top: 14px;
}

.home-wallet-prompt-box {
    background: #1a1a1a;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    border: 1px solid #3d3d3d;
    align-items: center;
}

.home-wallet-prompt-message {
    font-size: 16px;
    padding-left: 10px;  
    line-height: 1;
    font-weight: 600;
    color: #d8d8d8;
}

.Middle-container {
display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 16px;
    margin-top: 30px;
}

.Bottom-container {

}
