.Market {
text-align: left;
}

.market-header-container {

}

.market-header {
    color: #d8d8d8;
    font-size: 24px;
}

.market-description {
	font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    margin-top: 4px;
    color: #3d3d3d;
}

.Top-market-container {
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-gap: 14px;
    margin-top: 30px;
}

.top-all-markets-header-container {

}

.top-all-markets-header {
    color: #d8d8d8;
    font-size: 20px;
}

.top-tezos-markets-header {
    color: #d8d8d8;
    font-size: 24px;
}

.market-component-header-container {
	    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.market-component-header {
font-size: 16px;
    line-height: 1;
    font-weight: 600;
    color: #d8d8d8;
}

.market-component-price-container {
    display: flex;
    flex-direction: row;
    align-items: center;

}

.market-component-price-name {
	font-size: 14px;
    line-height: 1;
    font-weight: 600;
    color: #3d3d3d;
    padding-top: 8px;
}

.market-component-price-change-tag-container {
	display: flex;
  padding-top: 8px;
}

.market-component-price-change {
color: #d8d8d8;

}

.market-component-price-graph-container {
	padding-top: 8px;
}

.top-all-markets-components-container {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 14px;
    margin-top: 30px;
    row-gap: 40px;
}
