.Portfolio {
	text-align: left;
}

.portfolio-header {
	    color: #d8d8d8;
    font-size: 24px;
}

.portfolio-description {
	font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    margin-top: 4px;
    color: #3d3d3d;
}

.Top-portfolio-container {
display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-gap: 16px;
    margin-top: 30px;
}
