.Trade {
height: 100%;
}

.trade-container {
display: flex;
flex-direction: column;
align-items: center;
padding-top: 0px;
}

.trade-option-container {
    display: flex;
    align-items: center;
    grid-gap: 6px;
    gap: 6px;
    font-size: 13px;
    line-height: 1.1;
    font-weight: 600;
    color: #d8d8d8;
    padding: 8px;
    border-radius: 6px;
    transition: all .2s ease;
    text-decoration: none;
    border: 1px solid #3d3d3d;
    transition: .5s;
    flex-direction: row;
    justify-content: space-between;
}

.trade-option-button {
    display: flex;
    align-items: center;
    grid-gap: 6px;
    gap: 6px;
    font-size: 13px;
    line-height: 1.1;
    font-weight: 600;
    color: #d8d8d8;
    background: #1a1a1a;
    padding: 0 12px;
    height: 32px;
    border-radius: 7px;
    cursor: pointer;
    transition: all .2s ease;
    text-decoration: none;
    transition: .5s;
    border: none;
}

.trade-options-container {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 14px;
    margin-top: 100px;
}

.trade-options-box {
    background: #1a1a1a;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    border: 1px solid #3d3d3d;
    justify-content: space-between;
    gap: 40px;
    transition: .5s;
    text-decoration: none;
}

.trade-options-box:hover {
	background: #212121;
	transition: .5s;
}

.trade-options-wrapper {
	padding-top: 100px;
}

.trade-options-header-container {
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
width: 100%;
}

.trade-options-header {
    font-size: 21px;
    line-height: 1;
    font-weight: 600;
    color: #d8d8d8;
}

.trade-options-description-container  {
}

.trade-options-description {
	    font-size: 18px;
    line-height: 1;
    font-weight: 500;
    color: #3d3d3d;
    padding-top: 4px
}

.trade-header-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding-left: 60px;
	padding-right: 60px;
}
.trade-header {
	    color: #d8d8d8;
    font-size: 24px;
    text-align: left;
}

.trade-description {
	font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    margin-top: 4px;
    color: #3d3d3d;
    text-align: left;
}

.trade-options-image-container {
	display: flex;
	align-items: center;
	flex-direction: row;
	margin: auto;
}


.trade-component-container {
	    background: #1a1a1a;
    z-index: 4;
    border-radius: 18px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    border: 1px solid #3d3d3d;
    max-width: 380px;
    width: 100%;
    height: 244px;
}

.trade-component-wrapper {
	display: flex;
	padding-top: 14px;
	justify-content: center;
	height: 100%;
	padding-left: 14px;
	padding-right: 14px;
}

.trade-component-header {
    font-size: 19px;
    line-height: 1;
    font-weight: 600;
    color: #d8d8d8;
}

.trade-component-input-container {
	    display: flex;
	    flex-direction: column;
    position: relative;
    border-radius: 20px;
    border: 1px solid #3d3d3d;
    z-index: 1;
    width: initial;
    transition: height 1s ease 0s;
        padding: 0.6rem;
	height: 60px;
	transition: .5s;
}

.trade-component-input-container:hover {
	background: #212121;
	transition: .5s;
}

.trade-component-input-select {
 display: flex;
 flex-direction: row;
 justify-content: space-between;
 max-height: 30px;
 height: 100%;
}

.trade-settings-icon:hover path {
	fill: #919191;
	transition: .2s;
	cursor: pointer;
}

.settings-container {
position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
    background: rgba(0,0,0,.4);
    z-index: 100;
    border: none;
-webkit-animation: fadein 0.4s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 0.4s; /* Firefox < 16 */
        -ms-animation: fadein 0.4s; /* Internet Explorer */
         -o-animation: fadein 0.4s; /* Opera < 12.1 */
            animation: fadein 0.4s;
	    padding-bottom: 140px;

}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.settings-component {
    background: #1a1a1a;
    z-index: 4;
    border-radius: 18px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    border: 1px solid #3d3d3d;
    max-width: 380px;
    width: 100%;
    height: 172px;
}

.settings-header-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}
 
.settings-header {
    font-size: 18px;
    line-height: 1;
    font-weight: 600;
    color: #d8d8d8;
}

.settings-close:hover {
	cursor: pointer;
}

.settings-options-container {
	padding-top: 28px;
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 14px;
}

.settings-option {
	    display: flex;
    align-items: center;
    grid-gap: 6px;
    gap: 6px;
    font-size: 14px;
    line-height: 1.1;
    font-weight: 600;
    color: #d8d8d8;
    padding: 0 12px;
    border-radius: 7px;
    padding: 6px;
    cursor: pointer;
    transition: all .2s ease;
    text-decoration: none;
    transition: .5s;
    border: none;
    background: #1a1a1a;
    outline: none;
}

.settings-option:hover {
 background: rgb(33, 33, 33);
}

.settings-input-container {
  display: flex;
  flex-direction: row;
  padding-top: 14px;
  align-items: center;
}

.settings-input:focus {
	border: 1px solid #d8d8d8;
	transition: .2s;
}

.settings-input {
	    color: rgb(255, 255, 255);
    cursor: pointer;
    border-radius: 16px;
    outline: none;
    -webkit-user-select: none;
    user-select: none;
    border: none;
    font-size: 18px;
    line-height: 1.1;
    font-weight: 600;
    color: #d8d8d8;
    padding: 0px 8px;
    height: 38px;
    justify-content: space-between;
    background: none;
    border: 1px solid #3d3d3d;
    background: #1a1a1a;
    grid-gap: 8px;
    gap: 8px;
    display: flex;
    padding-left: 6px;
    transition: .2s;
}

.settings-options-wrapper {
 display: flex;
 flex-direction: column;
 justify-content: center;
}

.token-favorite-container {

}

.settings-save-button-container {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  padding-top: 14px;
}

.settings-save-button {
	    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 1.1;
    font-weight: 600;
    color: #d8d8d8;
    padding: 0 12px;
    border-radius: 10px;
    padding: 6px;
    cursor: pointer;
    transition: all .2s ease;
    text-decoration: none;
    transition: .5s;
    border: none;
    background: #212121;
    width: 100px;
    justify-content: center;
    
}

.settings-save-button:hover {
  background: #d8d8d8;
  color: black;
}

.settings-input-max-tag {
padding-left: 10px;
color: #3d3d3d;
font-weight: 600;
}

.block-wrapper {
display: flex;
flex-direction: row;
justify-content: center;
}

.block-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-top: 14px;
  max-width: 400px;
  width: 100%;
  gap:6px;
  padding-right: 10px;
}

.block-status-sync-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 8px;
}

.block-status-active-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}
.block {
font-size: 15px;
    color: #3d3d3d;
    transition: 5s;
}


.block-status-wrapper {
	    display: flex;
    align-items: center;
    grid-gap: 2px;
    padding: 4px 4px 4px 4px;
    border-radius: 6px;
    border: 1px solid #3d3d3d;
    font-size: 15px;
    line-height: 1;
    font-weight: 500;
    color: rgb(70, 70, 70);
}

.block-status-sync {
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #919191;
    border: 1.2px solid #d8d8d8;
    animation: sync 2s infinite;
    transition: .5s;
}
@keyframes sync {
  50% {
    background: #d8d8d8 ;
  },
  100% {
    opacity: 0;
  }
}

.block-status-active {
width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #d8d8d8;
    border: 1.2px solid #d8d8d8;
    animation: sync 2s infinite;
    transition: .5s;
    animation: .4s rollout;

}

@keyframes rollout {
  0% {
    transform: translateY(-40px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes status {
  50% {
    background:#d8d8d8 ;
  },
  100% {
    opacity: 0;
  }
}
.block-active {
    font-size: 15px;
    color: #3d3d3d;
    transition: 5s;
    animation: .6s newblock;
}

@keyframes newblock {
	50% {
	  color: #d8d8d8;  
	},
	100% {
	  color: #3d3d3d;
	}
}

.price-update-status {
display: flex;
flex-direction: row;
widith: 100%;
justify-content: left;
}

.price-update {
    font-size: 15px;
    color: #3d3d3d;
    transition: 5s;
    animation: .6s newblock;
}

.price-update-status {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 8px;
}

.price-update-icon {
  -webkit-animation: rotate-center 0.8s ease-in-out 0.4s both infinite;
	        animation: rotate-center 0.8s ease-in-out 0.4s both infinite;
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

@-webkit-keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

