.App {
  text-align: center;
}

body {
	background: #121212;
}

.h1 {
  margin: 0;
}
.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-top: 80px;
}

.app-header {
    position: fixed;
    top: 0;
    width: 100%;
    min-height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
        backdrop-filter: blur(5px);
	border-bottom: 1px solid rgb(70, 70, 70);
}

.app-header-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1250px;
    width: 100%;
    margin: 0 32px;
}

.app-header-left {
    display: flex;
    align-items: center;
}

.app-header-logo {
width: auto;
height: 20px;
}

.app-header-middle {
display: flex;
    align-items: center;
    gap: 16px;
}


.app-header-nav-button {
	    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 13px;
    line-height: 1.1;
    font-weight: 600;
    color: #d8d8d8;
    background: #1a1a1a;
    padding: 0 12px;
    height: 32px;
    border-radius: 6px;
    cursor: pointer;
    transition: all .2s ease;
    text-decoration: none;
    transition: .5s;
}

.app-header-nav-button:hover {
	background: #212121;
	transition: .5s;
}

.app-header-left {
	display: flex;
        align-items: center;
}

.app-header-button {
	display: flex;
    align-items: center;
    gap: 6px;
    font-size: 13px;
    line-height: 1.1;
    font-weight: 600;
    color: white;
    background: #ea5e1b;
    padding: 0 12px;
    height: 32px;
    border-radius: 6px;
    cursor: pointer;
    transition: all .2s ease;
    text-decoration: none;
    transition: .5s;
    border: none;
}

.app-header-button:hover {
	transition: .5s;
	background: #b34714;
}

.app-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 32px 100px 32px;
    padding-top: 40px;
    flex: 1;

        margin: 0 24px 100px 24px;
    padding-top: 24px;
}

.app-content {
    width: 100%;
    max-width: 1250px;
}

